<table class="table mt-3" *ngIf="booksFound.length > 0">
    <thead class="table-dark">
      <tr>
        <th>Nombre</th>
        <th>Género</th>
        <th>Número de Páginas</th>
        <th>Año</th>
        <th>Autor</th>
        <th>Editorial</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of booksFound">
        <td>{{book.tittle}}</td>
        <td>{{book.gender}}</td>
        <td>{{book.numberPages}}</td>
        <td>{{book.year}}</td>
        <td>{{book.author?.fullName}}</td>
        <td>{{book.editorial?.name}}</td>
      </tr>
    </tbody>    
  </table>
